#title{
    background-color: #1A374D;
    color: #fff;
    text-align: center;
}

h1{ 
     font-size: 300%;  
     line-height: 1.5; 
     font-weight: 900; 
     text-align: center;
     color: #2C3333;   
}

h2{

        font-weight:bolder; 
        text-align: center;  
} 

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    padding-top: 2%;
    font-weight: bold;
    text-align: center;
}

a{
    font-weight: 400;
}

p{
    color: #2C3333;
    font-weight: bolder;
    font-size: 1.1rem;
}

.p-text{
    color: #2C3333;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

.nav-barsec{
    padding: 1% 5%;
    background-color: #1A374D;
}

body{
    background: #B1D0E0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
	overflow-x: hidden;
}


.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
}

.nav-item{
   padding: 0 18px;
}

#intro{
    padding: 5%;
    background-color: #F4DFBA;
}

.indicadores-info{
    background-color: #A0BCC2;

}
.card-img-top{
    height: 15rem;
    width: 15rem;
    margin: auto;
}

.card-indicadores{
    padding: 2%
}


.card-title{
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
}

#footer{
    background-color: #5584AC;
    padding: 1.2%;

}



.p-footer{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:medium;
    text-align: center;
}
