#title{
    background-color: #1A374D;
    color: #fff;
    text-align: center;
}

h1{ 
     font-size: 300%;  
     line-height: 1.5; 
     font-weight: 900; 
     text-align: center;
     color: #2C3333;   
}

h2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight:bolder; 
        text-align: center;  
} 

h3{
    font-weight: bold;
}

a{
    font-weight: 400;
}

p{
    color: #2C3333;
    font-weight: bolder;
    font-size: 1.1rem;
}

.p-text{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
}

.nav-barsec{
    padding: 1% 5%;
    background-color: #1A374D;
}

body{
    background: #B1D0E0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
overflow-x: hidden;
}


.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
}

.nav-item{
   padding: 0 18px;
}

.background-info{
    background-color: #EFEAD8;
}

#info{
    padding:1%

}

#intro{
    padding: 5%;
    background-color: #F4DFBA;
}

.margin-top2{
    margin-top: 2rem;
    
}


#footer{
    background-color: #5584AC;
    padding: 1.2%;

}

.img-center{
    align-items: center;
}

.p-footer{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:medium;
    text-align: center;
}
