#title{
    background-color: #1A374D;
    color: #fff;
    text-align: center;
}

form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}


h1{ 
     font-size:3.5rem;  
     line-height: 1.5; 
     font-weight: 900;    
}

h2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 3rem;
        line-height: 1.5;
        font-weight:bolder; 
        text-align: center;  
} 

h3{
    font-weight: bold;
}

a{
    font-weight: 400;
}

p{
    color: #8f8f8f;
    font-weight: bolder;
    font-size: 1.1rem;
}

.p-text{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
}

.nav-barsec{
    padding: 1% 5%;
    background-color: #1A374D;
}



body{
    font-family: 'Nunito Sans', sans-serif;
	overflow-x: hidden;
}

.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
}

.nav-item{
   padding: 0 18px;
}


#carrusel{
    background-color: #B1D0E0;
}

#objetivos{
    text-align: center;
    padding-top: 1%;
    color:#383838
}



.objetivos{
    text-align: center;
    padding: 5%
}

.icon{
    margin-bottom: 1rem;
    color: #205375;
}

.icon:hover{
    color: #5584AC;
}


.carousel-item{
    padding: 3% 7%;
}

#info-cryptos{
    background-color: #A0BCC2;

}

.crypto-cards{
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%
}

.card{
    margin:1%;
    border-radius: 5%;
}

.card-img-top{
    height: 15rem;
    width: 15rem;
    margin: auto;
}

.card-body{
    text-align: justify;
}

.card-title{
    text-align: center;
}

#footer{
    background-color: #5584AC;
    padding: 1.2%;

}

.p-footer{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:medium;
    text-align: center;
}
