#title{
    background-color: #1A374D;
    color: #fff;
    text-align: center;
}

h1{ 
     font-size: 300%;  
     line-height: 1.5; 
     font-weight: 900;    
}

h2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight:bolder; 
        text-align: center;  
} 

h3{
    font-weight: bold;
}

a{
    font-weight: 400;
}

p{
    color: #2C3333;
    font-weight: bolder;
    font-size: 1.1rem;
}

.p-text{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
}

.nav-barsec{
    padding: 1% 5%;
    background-color: #1A374D;
}

body{
    background: #B1D0E0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
overflow-x: hidden;
}


.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
}

.nav-item{
   padding: 0 18px;
}


#footer{
    background-color: #5584AC;
    padding: 1.2%;

}

.p-footer{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-size:medium;
    text-align: center;
}

#intro{
    color: #1A374D;
    text-align: center;
    width: 100%;
    background-color: #F7F5F2;
}

.img-fluid{
    width: 90%;
    padding: 3%;
}

.background-info{
    background-color: #D3DEDC;
}

.background-info-head{
    background-color: #F4DFBA;
    margin-bottom: 2%;
    text-align: justify;
}

ul{
    padding-left: 2%;
    padding-right: 2%;
}

button{
    margin-bottom: 2%;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
